language: node_js
node_js:
- node
addons:
  apt:
    packages:
    - calibre
    - calibre-bin
before_install:
- npm install gitbook-cli -g
install:
- gitbook install
- npm install svgexport -g
before_script:
- export DISPLAY=:99.0
- sh -e /etc/init.d/xvfb start
- sleep 3
script:
- gitbook pdf
- cp book.pdf developkit-lessons.pdf
- gitbook build
after_success:
- test $TRAVIS_PULL_REQUEST == "false" && test $TRAVIS_BRANCH == "master" && bash
  deploy.sh
env:
  global:
    secure: dV6E4Do+YxYBXtmYLt6moEIXiEtGgSoLjdfKi5b9sGotvzMkL5lMujcrl6/+fZqis4SqaB2VglvgJkoS6I1x1htneNcWK0a0QEe+E1BlIMpAniVQf6lYPzwN+zdx5+CkBg8UXPh90cOZNwkcGExS0D/zhNRzPcbtBIhuVuF1y1EaxgeMGATT4mryZfUelnuOvby9t/5RWhfSbgxKaN8IVrm/ZDIjtjs8T926Mn5HcWoKdt+DSKf0dEEGPdTDV2h2X9chwBJVVKd0cGFuAiVNT0kkgw0mxtrQxmw83I85xTgC8pzd5sDQ+rBv7ezdAOwlQlECCwozadrVu2jx6N4xcHlYcRN9qZr0zNK1qbfSdd+XNn+sEOBdS+X6uA9DO1+DcHh2JHMbpixnm+SB5WTYDg6ApUm2bxe2RRUYu2JYiLgfif0b/pxaoOdnH8wUYZTaB9xuEIkE5YbzeTVaj4AoLLVZslMKwAvZ7zh3xTLwADujMDL/6ilachlZ051toe+qbJ7/S5NNkeJoEZN9YeNsLLN+JNxICdB/kt0WpYiH3bahyhvz0We5WpC4Q1+Ptp5uXqIqxwKfcpF8CqwpGZjZ1/MDs11XXTfBMpLXxpjEfjWyg2CO5RxUkT6/SCZMlfka1dsYYLbg22Xqz/OPFauAmYNYQCDi29acNy89X5oY7hw=
